@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}
.wrapper{
    z-index: 1;
    width: 400px;
    background: #000000d0;
    color: #FFFF;
    border-radius: 10px;
}
.wrapper header{
    
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 30px;
    font-weight: 500;
}
.input-part i{
    padding: 0 10px ;
}
.input-part{
    border-top: solid 1px white;
    padding: 20px;
}


.input-part :where(input, button){
    outline: none;
    color: white;
    height: 50px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    border: 1px solid white;
}
.input-part button{
    color: black;
}
.input-part input{
    
    background:transparent;
}
.seperator{
    margin: 20px 0;
    width: 100%;
    height: 1px;
    background-color: #FFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
}
.pending,.error {
    display: none;
    text-align: center;
    margin-bottom: 10PX;
    border-radius: 5px;

}
.input-part .error{
    color: rgb(139, 41, 41);
    background-color: rgb(255, 155, 124);
}
.input-part .pending{
    color: rgb(15, 84, 148);
    background-color: rgb(124, 218, 255);
}
.input-part :is(:focus,:valid){
    border: 1px solid rgb(124, 218, 255);;
}



.weather-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.other-info{
    display: flex;
    justify-content: space-evenly;
}
.humidity ,.feels-like{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-info,.other-info{
    margin: 20px;
}
.other-info i{
    font-size: 35px;
}
.other-info-seperator{
    width: 1px;
    height: 50px;
    background-color:white;
}

i{
    margin-right: 15px;
}
.main-info{
    font-size: 20px;
}
.live-temperature{
    font-size:70px;
}
.live-weather{
    margin-bottom: 20px;
}


.inactive{
    display: none;
}
.active{
    display: block;
}

.weather-icon{
    height: 100px;
    width: 120px;
}